<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog Post</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 0; /* Offset the navbar height */
        }
        .form-container {
            width: 50%;
            margin: 10px auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Let's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all_posts' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_dashboard' %}">Your Posts</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
            {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container mt-4 form-container">
        <h1>Add Blog Post</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Title:</label>
                <input type="text" class="form-control" id="id_title" name="title" required>
            </div>
            <div class="form-group">
                <label for="id_content">Content:</label>
                <textarea class="form-control" id="id_content" name="content" rows="6" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
